<%= form_for(section) do |f| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, "Name"%>
  <%= f.text_field :name, class: "form-control" %>
  <div class="actions">
    <%= hidden_field_tag(:report_id, params[:report_id]) %>
    <br>
    <%= f.submit class:"btn"%>
  </div>
<% end %>
