
<br>
<br>
<br>
<br>

<% if @no_dataset %>
<div class="card">
    <h2 class="text-center">I don't have any datasets.</h2>
    <br>
    <p class="text-center">Please upload a dataset.</p>
    <br>
    <img class="center-block" src="upload.gif" alt="">
</div>
<% end %>

<% if @no_dataset == false && @report.nil? %>
  <div class="card">
    <h2 class="text-center">There's nothing here.</h2>
    <br>
    <p class="text-center">Get started by creating a new report.</p>
    <br>
    <img class="center-block" src="newreport.gif" alt="">
  </div>

<% else %>

<div class="grid">
  <% @cards.each_with_index do |card, index| %>
    <% if card.section_id.to_s == params[:section].to_s %>
    <div class="grid-item" data-item-id="<%= index %>">
      <div class="card-preview card inline" >
        <div class="center-block">
          <h5 class='card-title text-center'><%= card.title%></h5>
          <% if card.chart_type == "pie_chart" %>
            <%= render 'layouts/pie_chart', :card => card%>
          <% elsif card.chart_type == "bar_chart" %>
            <%= render 'layouts/bar_chart', :card => card%>
          <% end %>
        </div>
      </div>
      </div>
    <% end %>
  <% end %>
</div>

<% end %>

<style>
.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}
</style>

<script src ="https://unpkg.com/packery@2/dist/packery.pkgd.min.js">
</script>
<script>

function saveLayout(data){
  var url = "/save_section_layout" // this is a different pattern to the url it can be confusing.
  return $.ajax({
        cache:      false,
        url:        url,
        dataType:   "json",
        type:       "post",
        data:       data
    });
}

console.log("savelayout")
// external js: packery.pkgd.js, draggabilly.pkgd.js

// add Packery.prototype methods
//localStorage.clear();

// get JSON-friendly data for items positions
Packery.prototype.getShiftPositions = function( attrName ) {
  attrName = attrName || 'id';
  var _this = this;
  return this.items.map( function( item ) {
    return {
      attr: item.element.getAttribute( attrName ),
      x: item.rect.x / _this.packer.width
    }
  });
};
console.log("1")

Packery.prototype.initShiftLayout = function( positions, attr ) {
  if ( !positions || this.items.length > positions.length ) {
    // if no initial positions, run packery layout
    this.layout();
    return;
  }
  // parse string to JSON
  if ( typeof positions == 'string' ) {
    try {
      positions = JSON.parse( positions );
    } catch( error ) {
      console.error( 'JSON parse error: ' + error );
      this.layout();
      return;
    }
  }
console.log("2")
  
  attr = attr || 'id'; // default to id attribute
  this._resetLayout();
  // set item order and horizontal position from saved positions
  this.items = positions.map( function( itemPosition ) {
    //console.log(this.items);
    var selector = '[' + attr + '="' + itemPosition.attr  + '"]'
    var itemElem = this.element.querySelector( selector );
    var item = this.getItem( itemElem );
    item.rect.x = itemPosition.x * this.packer.width;
    return item;
  }, this );
  this.shiftLayout();
};
console.log("3")
// -----------------------------//

// init Packery
var $grid = $('.grid').packery({
  itemSelector: '.grid-item',
  columnWidth: 200,
  initLayout: false // disable initial layout
});
console.log($grid)
// get saved dragged positions
//var initPositions = localStorage.getItem('dragPositions');
<% layout = Section.find(params[:section]).layout  %>
<% if layout %>
var initPositions = <%= raw layout%>;
<% else %>
var initPositions;
<%end%>
// init layout with saved positions
$grid.packery( 'initShiftLayout', initPositions, 'data-item-id' );
console.log("Here")
// make draggable
$grid.find('.grid-item').each( function( i, itemElem ) {
  var draggie = new Draggabilly( itemElem );
  $grid.packery( 'bindDraggabillyEvents', draggie );
});
console.log("Now here")

// save drag positions on event
$grid.on( 'dragItemPositioned', function() {
  // save drag positions
  var positions = $grid.packery( 'getShiftPositions', 'data-item-id' );
  var positionsJSON = JSON.stringify( positions );
  console.log(positions);
  saveLayout(
  {
    section_id: <%= params[:section] %>,
    positionsJSON: positionsJSON,
  })
  .done(
     //localStorage.setItem( 'dragPositions', JSON.stringify( positions ) );
  );
  
});
console.log("Finally Now here")


</script>