<%= form_for(card) do |f| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group card" >
    <div id="card-form">
      <%= f.label :title, "Title"%>
      <%= f.text_field :title, class: "form-control", id:"title-field", :required => true%><br>

      <%= f.label :type, "Card Data Type"%>
      <%= f.select :type, options_for_select([["Pie Chart", "pie_chart"],["Bar Graph", "bar_graph"],["Grouped Bar Graph", "grouped_bar_graph"],["Donut Chart", "donut_chart"],["Text", "text"]]),{}, class: "form-control", id: "card-data-type-select" %>
      <br>
      <%= f.label :level, "Data Access Level" %>
      <%= f.select :level, options_for_select([[],["School Wide", "school_wide"],["Division", "Division"],["Department", "department"],["Supervisor", "supervisor"]]),{}, class: "form-control" %>
      <br>
      <%= f.label :datasets, "Data Source"%>
      <%= f.select :datasets,options_for_select([["none", "none"]]) + options_from_collection_for_select(@datasets, "id", "name", []),{}, class: "form-control", id: "dataset-select" %>
      </div>
    <br>

    <div class="actions">
      <%= f.submit class: "btn", id:"card-submit", :disabled => true%>
    </div>
  </div>

<% end %>
</div>


<div class="col-sm-4">
  <h1> Preview </h1>


  <!-- RENDER ALL THE CARD TEMPLATES IN VIEWS/LAYOUTS -->

  <div class="card-preview card inline" id="pie_chart">
    <div class="center-block">
      <h5 class='card-title text-center'></h5>
      <%= render 'layouts/pie_chart'%>
    </div>
  </div>

  <div class="card-preview card" id="bar_graph">
    <div class="">
      <h5 class='card-title text-center'></h5>
      <%= render 'layouts/bar_graph'%>
    </div>
  </div>

  <div class="card-preview card" id="grouped_bar_graph">
    <div class="">
      <h5 class='card-title text-center'></h5>
      <%= render 'layouts/grouped_bar_graph'%>
    </div>
  </div>

  <div class="card-preview card inline" id="donut_chart">
    <div class="center-block">
      <h5 class='card-title text-center'></h5>
      <%= render 'layouts/donut_chart'%>
    </div>
  </div>

  <div class="card-preview card inline" id="text">
    <div class="center-block">
      <div id="editor">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br></p>
      </div>
    </div>
  </div>

  <script>
  var toolbarOptions = [
    ['bold', 'italic', 'underline'],        // toggled buttons
    [{ 'list': 'ordered'}, { 'list': 'bullet' }],

    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

    [{ 'color': [] }],          // dropdown with defaults from theme
    [{ 'font': [] }],
    [{ 'align': [] }],
    ['preview']
  ];

  var quill = new Quill('#editor', {
    modules: {
      toolbar: toolbarOptions
    },
    theme: 'snow'
  });
$(".ql-preview").click(function(){
  console.log($('.ql-editor').html());
});
  </script>

  <style>
  .ql-preview:after {
    font-family: FontAwesome;
     content: "\f06e";
}
  </style>
  <!-- MOVED JS TO app/assets/javascripts/cards.js -->
  <%= javascript_include_tag 'chart_functions' %>
  <%= javascript_include_tag 'cards' %>
