<%= form_for(card) do |f| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title, "Title"%>
    <%= f.text_field :title, class: "form-control", id:"title-field"%><br>

    <%= f.label :type, "Card Data Type"%>
    <%= f.select :type, options_for_select([["Pie Chart", "pie_chart"],["Bar Graph", "bar_graph"],["Grouped Bar Graph", "grouped_bar_graph"],["Donut Chart", "donut_chart"],['Timeline', "sparkline"]]),{}, class: "form-control", id: "card-data-type-select" %>
    <br>
    <%= f.label :level, "Data Access Level" %>
    <%= f.select :level, options_for_select([[],["School Wide", "school_wide"],["Division", "Division"],["Department", "department"],["Supervisor", "supervisor"]]),{}, class: "form-control" %>
    <br>
    <%= f.label :datasets, "Data Source"%>
    <%= f.select :datasets,options_from_collection_for_select(@datasets, "id", "name", @datasets.last),{}, class: "form-control" %>
    <div class="actions">
      <%= f.submit class: "btn"%>
    </div>
  </div>

<% end %>
</div>

<div class="col-sm-4">
  <h1> Preview </h1>


  <!-- RENDER ALL THE CARD TEMPLATES IN VIEWS/LAYOUTS -->

  <div class="center-block card-preview" id="pie_chart">
    <h5 class='card-title text-center'></h5>
    <%= render 'layouts/pie_chart'%>
  </div>

  <div class="center-block card-preview" id="bar_graph">
    <h5 class='card-title text-center'></h5>
    <%= render 'layouts/bar_graph'%>
  </div>

  <div class="center-block card-preview" id="grouped_bar_graph">
    <h5 class='card-title text-center'></h5>
    <%= render 'layouts/grouped_bar_graph'%>
  </div>

  <div class="center-block card-preview" id="donut_chart">
    <h5 class='card-title text-center'></h5>
    <%= render 'layouts/donut_chart'%>
  </div>

  <div class="center-block card-preview" id="sparkline">
    <h5 class='card-title text-center'></h5>
    <%= render 'layouts/sparkline'%>
  </div>

  <!-- RUN JS TO UPDATE PREVIEW -->

  <script>
  $('.card-preview').hide(); //hide all templates
  show_card() // show the one currently selected

  $("#card-data-type-select").change(show_card); //when select changed

  $("#title-field").keyup(function(){
    var title = $('#title-field').val();
    $('.card-title').text(title);
  });


  function show_card(){
    var val = $('#card-data-type-select').val();
    $('.card-preview').hide();
    $("#"+val).show();
  }
  </script>
